*{
    padding: 0;
    margin: 0;
}

.container{
    width: 1300px;
    margin: 0 auto;
}

#header{
    padding: 25px 0;
}
a{
    text-decoration: none;
}

.hero{
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
    
}

.header{
    display: flex;
    justify-content: space-between;

}

header input{
width: 525px;
padding: 6px 10px;
border-radius: 6px;
border: 2px solid var(--gray-300, #D1D5DB);
}
#hero{
background: url("../css/img/Poster.png") no-repeat center/cover;
min-height: 100vh;
}
.main-price{
    display: flex;
    align-items: center;
    gap: 25px;
}

.hero h1{
    color: #FFF;
font-size: 48px;
font-weight: 700;

}



.price{
    display: flex;
    gap:10px;
    align-items: center;
}
.price p{color: #FFF;
    font-size: 12px;
    font-weight: 400;

}
    

    .desc{
        color: #FFF;
font-size: 14px;
font-style: normal;
font-weight: 500;
 }
 .hero button{
    display: flex;
padding: 6px 16px;
align-items: center;
gap: 8px;
border-radius: 6px;
background: var(--rose-700, #BE123C);
border: none;
color: var(--white, #FFF);
font-size: 14px;
font-weight: 700;
text-transform: uppercase;
 }

 

    




